.game {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .body {
    display: flex;
  }
  
  .help {
    color: #666;
    margin: 40px;
    text-align: center;
  }
  
  .left {
    text-align: center;
    width: 50%;
    border: thin solid #ddd;
  }
  
  .right {
    text-align: center;
    padding: 10px;
    width: 50%;
    border: thin solid #ddd;
  }
  
  .star {
    display: inline-block;
    margin: 0 15px;
  }
  
  .star:after {
    content: "\2605";
    font-size: 45px;

    color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    outline-color: black;
  }
  
  .number {
    background-color: #eee;
    border: thin solid #ddd;
    width: 45px;
    height: 45px;
    margin: 10px;
    font-size: 25px;
  }
  
  .number:focus, .number:active {
    outline: none;
    border: thin solid #ddd;
  }
  
  .timer {
    color: #666;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 25px;
  }
  .timerNumber-running-out {
    color: red;
    text-decoration-line: underline;
  }
  
  .game-done .message {
    font-size: 250%;
    font-weight: bold;
    margin: 15px;
  }